$font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
$font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
$font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
$font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
$font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
$font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
$font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
$font-size-xxxxl: clamp(3.81rem, 5.18vw + 2.52rem, 6.66rem);
::-webkit-scrollbar {
    width: .6vw;
    height: .5vw;
}

::-webkit-scrollbar-button {
    height: 0;
}

::-webkit-scrollbar-track-piece {
    background: #ccc
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

* {
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease-out;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url(../assets/backdrop.webp);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-position-y: 200px;
}

.button {
    text-decoration: none;
    color: white;
    border: none !important;
    border-radius: 8px;
    background: hsla(0, 100%, 36%, 1);
    background: linear-gradient(135deg, hsla(0, 100%, 36%, 1) 0%, hsla(0, 100%, 45%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(0, 100%, 36%, 1) 0%, hsla(0, 100%, 45%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(0, 100%, 36%, 1) 0%, hsla(0, 100%, 45%, 1) 100%);
    padding: 10px 25px;
    font-weight: 600;
    font-size: $font-size-base;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    text-decoration: none;
    box-shadow: 0px 100px 80px rgba(168, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(168, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(168, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(168, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(168, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(168, 0, 0, 0.0196802);
}

.button:active {
    transform: scale(0.95);
}

.double {
    text-shadow: 3px 3px 0px #FBCECE;
}

.double-dark {
    text-shadow: 3px 3px 0px #6A1616;
}

nav {
    transition: all 0.2s;
    z-index: 2;
    position: fixed;
    top: 0;
    display: block;
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4ee;
    .nav-links {
        display: flex;
        align-items: center;
        gap: 3rem;
        #hamburger-icon {
            height: fit-content;
            display: none;
        }
        .nav-link:hover {
            cursor: pointer;
            transform: translateY(-2px);
        }
    }
    .nav-logo {
        display: flex;
        align-items: center;
        img {
            width: clamp(100px, 15vw, 180px);
        }
    }
    .nav-logo:hover {
        cursor: pointer;
        transform: translateX(5px);
    }
    #mobile-menu {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1;
        align-items: center;
        flex-direction: column;
        .upper {
            width: 100%;
            padding: 1rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e4e4ee;
            img {
                width: clamp(100px, 15vw, 180px);
            }
        }
        .mobile-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 2rem 0;
            a {
                font-size: $font-size-lg;
                font-weight: 600;
            }
        }
    }
}

footer {
    a {
        text-decoration: none;
        color: white;
    }
    border-top: 10px solid #D00000;
    color: white;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    .footer-left {
        display: flex;
        align-items: center;
        .icon:hover {
            transform: scale(1.1);
        }
    }
    .footer-right {
        display: flex;
        align-items: center;
        gap: 1rem;
        a:hover {
            transform: translateY(-2px);
        }
        .contact {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: $font-size-sm;
        }
    }
    .icon {
        margin-left: 1rem;
        svg {
            fill: white;
            height: 30px;
        }
    }
}

#hero {
    gap: 3rem;
    display: none;
    border-bottom: 1px solid #e4e4ee;
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
    padding-top: calc(80px + 2rem);
    min-height: 65vh;
    .hero-left {
        width: 40%;
        h1 {
            font-size: $font-size-xxl;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        p {
            font-size: $font-size-base;
            margin-bottom: 1rem;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .hero-right {
        display: flex;
        justify-content: center;
        img {
            width: 100%;
        }
    }
}

#vadbe {
    padding: 6rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .vadba {
        box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        background-color: white;
        display: flex;
        gap: 3rem;
        .image {
            min-width: 300px;
            max-width: 300px;
            img {
                border-radius: 8px 0 0 8px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .right {
            h2 {
                font-size: $font-size-lg;
            }
            padding: 2rem 3rem 2rem 0;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: flex-start;
        }
    }
}

.blurred {
    filter: blur(0);
}

.blurred:after {
    border-radius: 8px;
    content: 'Trenutno ni na voljo';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: $font-size-md;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

#mnenja {
    border-top: 10px solid #232323;
    background-color: white;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    text-align: center;
    h1 {
        font-size: $font-size-xl;
        font-weight: 600;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5rem;
        .mnenje {
            width: 250px;
            font-weight: 300;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            span {
                font-weight: 500;
                text-decoration: underline;
            }
            .icon {
                img {
                    height: 30px;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

#ekipa {
    padding: 7rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    h1 {
        font-size: $font-size-xl;
        font-weight: 600;
    }
    .wrapper {
        display: flex;
        gap: 8rem;
        .vaditelj {
            border-radius: 8px;
            width: 220px;
            box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.1);
            background-color: white;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            .photo {
                position: relative;
                img {
                    width: 100%;
                    border-radius: 8px 8px 0 0;
                }
                .bio {
                    backdrop-filter: blur(4px);
                    padding: 1rem 1.5rem;
                    text-align: center;
                    color: white;
                    border-radius: 8px 8px 0 0;
                    background-color: rgba(0, 0, 0, 0.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    opacity: 0;
                }
                .bio:hover {
                    opacity: 1;
                    cursor: pointer;
                    user-select: none;
                }
            }
            .info {
                padding: 1rem 2rem;
                display: flex;
                flex-direction: column;
                text-align: center;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;
                h3 {
                    font-size: $font-size-md;
                    font-weight: 600;
                }
                p {
                    font-weight: 400;
                    color: #696969;
                    font-size: $font-size-sm;
                }
            }
        }
    }
}

#metrics {
    padding: 8rem;
    background-color: #232323;
    border-top: 10px solid #E80000;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 7rem;
    .metric {
        .icon {
            margin-top: 1rem;
            svg {
                height: 40px;
            }
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .number {
            font-size: $font-size-xxxl;
        }
        p {
            font-size: $font-size-md;
            font-weight: 300;
        }
    }
}

#contact {
    padding: 7rem 13rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    .left {
        flex: 1;
        .contact-source {
            display: flex;
            gap: 1rem;
            align-items: center;
            svg {
                height: 30px;
                fill: black;
            }
        }
        .contact-source:hover {
            cursor: pointer;
            transform: translateY(-2px);
        }
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h1 {
            font-size: $font-size-xxl;
            font-weight: 500;
            width: fit-content;
            margin-top: 0;
            .red {
                color: #B70100;
            }
        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        textarea {
            resize: none;
            scroll-padding-bottom: 1rem;
        }
        *:not(.button) {
            width: 100%;
            border: 1px solid #A4A4A4;
            border-radius: 8px;
            padding: 0.5rem 1.2rem;
        }
    }
}

#title {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 5px solid #D00000;
    padding: 0 2rem;
    padding-top: 60px;
    text-align: center;
    .wrapper {
        h1 {
            font-size: $font-size-xxl;
            font-weight: 600;
            text-align: center;
        }
        gap: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
    }
}

#cenik {
    padding: 7rem 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    .paket {
        width: 300px;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.1);
        .top {
            text-transform: uppercase;
            line-height: 2.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #272727;
            border-bottom: 7px solid #FF6868;
            border-radius: 8px 8px 0 0;
            h2 {
                font-size: $font-size-lg;
                font-weight: 600;
                margin: 1rem 2rem;
                color: white;
            }
        }
        .bottom {
            .properties {
                margin: 1.5rem 0 1rem 0;
                padding-right: 1rem;
            }
            .price {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: $font-size-xl;
                font-weight: 600;
                margin: 1rem 0;
            }
        }
    }
    .paket:hover {
        cursor: pointer;
        transform: scale(1.03);
    }
}

#artikli {
    padding: 7rem 10rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    gap: 8rem;
    flex-wrap: wrap;
    .artikel {
        .top {
            img {
                height: 280px;
                border-radius: 8px 8px 0 0;
            }
        }
        background-color: white;
        box-shadow: 0px 4px 74px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        .bottom {
            margin: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            align-items: center;
            .gender {
                color: #737373;
            }
            .line {
                margin: 0.5rem 0;
                width: 40px;
                height: 1px;
                border-bottom: 1px solid #c9c9c9;
            }
            .price {
                font-size: $font-size-xl;
                font-weight: 600;
            }
            h2 {
                font-size: $font-size-md;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}

#urniki {
    padding: 7rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .urnik {
        h1 {
            margin-bottom: 2rem;
            font-size: $font-size-xl;
            font-weight: 600;
        }
        .table {
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 12px 48px rgb(26 33 52 / 11%);
            display: flex;
            flex-direction: column;
            .day {
                display: flex;
                flex-direction: column;
                .header {
                    display: flex;
                    align-items: center;
                    background-color: #B70100;
                    color: white;
                    font-weight: 400;
                    font-size: $font-size-md;
                    padding: 1rem 1.5rem;
                    svg {
                        height: 30px;
                        width: 30px;
                        path {
                            fill: white;
                        }
                        margin: 1rem;
                    }
                }
                .times {
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    .time {
                        display: flex;
                        align-items: center;
                        padding: 1.5rem 0;
                        svg {
                            height: 30px;
                            margin-right: 1rem;
                        }
                        .location {
                            a {
                                display: flex;
                                align-items: center;
                            }
                        }
                        .location a:hover {
                            transform: translateY(-2px);
                        }
                        .hour {
                            text-align: center;
                            display: flex;
                            align-items: center;
                            padding: 0.5rem 2rem;
                            border-right: 1px solid #CBCBCB;
                        }
                        .location {
                            text-align: center;
                            padding: 0.5rem 2rem;
                        }
                    }
                }
            }
        }
    }
}

#locations {
    padding: 7rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    .location {
        h1 {
            margin-bottom: 2rem;
            font-size: $font-size-xl;
            font-weight: 600;
        }
        .container {
            background-color: white;
            display: flex;
            gap: 1rem;
            .map {
                border-right: 6px solid #FFDBDB;
                iframe {
                    display: block;
                }
            }
            .location-info {
                padding: 2rem 2rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .vadbe {
                .location-vadba {
                    display: block;
                    color: #B70100;
                    font-size: $font-size-base;
                    font-weight: 600;
                }
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    #locations {
        .location {
            .container {
                gap: 0;
                flex-direction: column;
                .map {
                    border-right: none;
                    border-bottom: 6px solid #FFDBDB;
                    iframe {
                        width: 100%;
                    }
                }
                .location-info {
                    gap: 1rem;
                }
            }
        }
    }
    #contact {
        padding: 7rem 10rem;
    }
}

@media only screen and (max-width: 1000px) {
    #mnenja {
        .wrapper {
            flex-direction: column;
            gap: 4rem;
            .mnenje .icon img {
                margin-bottom: .5rem;
            }
        }
    }
    #ekipa {
        .wrapper {
            flex-direction: column;
            gap: 2rem;
        }
    }
    #contact {
        padding: 7rem 4rem;
    }
    #cenik,
    #artikli {
        gap: 4rem;
    }
}

@media only screen and (max-width: 950px) {
    #vadbe {
        .vadba {
            flex-direction: column;
            gap: 1rem;
            .image {
                min-width: 100%;
                max-width: 100%;
                justify-self: stretch;
                img {
                    border-radius: 8px 8px 0 0;
                }
            }
            .right {
                padding: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    #nav {
        .nav-links {
            gap: 2rem;
            .nav-link,
            .button {
                display: none;
            }
            #hamburger-icon {
                display: block;
            }
        }
        #mobile-menu {
            display: flex;
            transform: translateX(-100%);
        }
    }
    #title {
        height: 50vh;
    }
}

@media only screen and (max-width: 850px) {
    #contact {
        flex-direction: column;
        gap: 4rem;
        padding: 7rem 2rem;
        .left h1 {
            width: fit-content;
        }
        #contact-form *:not(.button) {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 750px) {
    #hero {
        padding-top: calc(55px + 2rem);
        height: 55vh;
        justify-content: flex-start;
        .hero-right {
            display: none;
        }
        .hero-left {
            width: 100%;
            z-index: 1;
        }
    }
    #vadbe,
    #cenik,
    #artikli,
    #locations,
    #metrics,
    #ekipa,
    #urniki {
        padding: 6rem 5rem !important;
    }
}

@media only screen and (max-width: 630px) {
    #metrics {
        flex-direction: column;
        gap: 4rem;
        .number {
            font-size: $font-size-xxxxl !important;
        }
        .metric {
            gap: 0.5rem;
            .icon {
                svg {
                    height: 30px;
                }
            }
        }
    }
    footer {
        padding: 2rem 1rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        .footer-right .contact .icon {
            margin-left: -5px;
        }
    }
    #vadbe,
    #cenik,
    #artikli,
    #locations,
    #mnenja,
    #metrics,
    #ekipa,
    #urniki {
        padding: 6rem 2rem !important;
    }
    #urniki {
        .hour,
        .location {
            justify-content: center;
            padding: 0.5rem 1rem !important;
            svg {
                margin-right: 0.5rem !important;
            }
        }
    }
}